body {background-color: gray;
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
}

header {
    background-color: gainsboro;
    color: white;
    padding: 20px;
}

img {
margin: 15;
padding: 30;
}